# Welcome to Plus!
#
# This config file affects your whole archive.
# This file is *NOT* reloaded automatically when you use 'bundle exec jekyll serve'.
# If you change this file, please restart the server process.

# Site settings
title:              Hope
url:                # Site base hostname & protocol, e.g. http://example.com
baseurl:            "" # Site subpath, e.g. /archive
logo_image:
  dark:             Hope-Logo-Website.png
  light:            Logo-Footer-2.png
favicon:            /assets/img/favicon.ico
permalink:          /:slugified_categories/:title/ # Permalink URLs structure, for permalink style options see: https://jekyllrb.com/docs/permalinks/
date_format:        "%B %-d, %Y" # refer to http://shopify.github.io/liquid/filters/date/ if you want to customize this
uploads:            /uploads/ # Path to post content assets directory i.e post images, pdfs etc
#paginate:           10 # Number of posts displayed on archive page
#paginate_path:      "/archive/page/:num" # Blog path
google_analytics:   # Google analytics code, get your code here https://www.google.com/analytics/
disqus:
  shortname:        # Disqus comments shortname, requires Disqus account https://disqus.com/

instagram_accesstoken:

footer:             # Default footer image settings
  copyright:

# navbar settings
navbar_primary:
  sticky:           true
  social:           true
  search:           true

# Social share buttons
social_share:
  email:            true
  twitter:          true
  tiktok:           true
  x:                true
  youtube:          true

# Social networks
social_networks:
  email:        https://www.hopemindfulness.com/
  website:
  instagram:        https://www.instagram.com/hopemindfulness/
  x:          https://x.com/hopemindfulness
  tiktok:          https://www.tiktok.com/@hopemindfulness
  youtube:          https://www.youtube.com/@hopemindfulness

listening_networks:
  - network:
      name: Spotify
      url: https://open.spotify.com/show/6eyzQxGrTpgQDELpA4Cp3F
      icon: "fa-brands fa-spotify"
  - network:
      name: Apple Podcast
      url: https://podcasts.apple.com/us/podcast/hope-christian-meditation/id1551179531
      icon: "fa-brands fa-apple"
  - network:
      name: Youtube
      url: https://www.youtube.com/@hopemindfulness
      icon: "fa-brands fa-youtube"
  - network:
      name: RSS Feed
      url: https://creators.spotify.com/pod/profile/hopemindfulness
      icon: "fa-solid fa-rss"

# Strings
strings:
  author_by:        By

# Build settings
markdown:           kramdown
highlighter:        rouge

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-gist
  - jekyll-avatar
  - jekyll-archives
  - jekyll-sitemap
  - jekyll-paginate-v2

pagination:
  enabled: true
  per_page: 10
  sort_reverse: true

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - package.json
  - CHANGELOG
  - LICENSE
  - README
  - /docs
  - local_gems

sass:
  style:            compressed

# collections:
collections:
  authors:
    output: true
  category:
    output: true
  bible:
    output: true
# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: page
      sidebar: left
  # _authors
  - scope:
      path: ""
      type: authors
    values:
      layout: author
  # _category
  - scope:
      path: ""
      type: category
    values:
      layout: category
  - scope:
      path: ""
      type: bible
    values:
      layout: page
