{% if post.author %}
  {% assign author = site.authors | where: 'username', post.author | first %}
{% else %}
  {% assign author = site.authors | where: 'default', true | first %}
{% endif %}

<div>
  <div class="uk-card">
    <div class="uk-card-media-top">
      {% if post.image %}
        <a href="{{ post.url | relative_url }}">
<!--          <img src="{% if post.image contains 'http' %}{{ post.image }}{% else %}{{ site.uploads | absolute_url }}{{ post.image }}{% endif %}" alt="{{ post.title }}">-->
                  <img src="{% if post.image contains 'http' %}{{ post.image }}{% else %}{{ absolute_url }}{{ post.image }}{% endif %}" alt="{{ post.title }}">

        </a>
      {% endif %}
    </div>
    <div class="uk-card-body">
      <h3 class="card-title-small article-title-font uk-text-center"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      <div class="content-secondary">{{ post.excerpt }}</div>
    </div>
  </div>
</div>
