{%- if include.title -%}
  <div class="uk-container uk-margin-medium-bottom">
    <hr class="uk-margin-remove">
    <h2 class="section-title uk-text-center uk-margin">{{- include.title -}}</h2>
    <hr class="uk-margin-remove">
  </div>
{%- endif -%}
<div uk-grid class="uk-flex-center">
    <div class="title-section uk-flex uk-flex-middle uk-flex-center uk-text-center uk-flex-column    uk-margin-large-bottom ">
        <div class="uk-text-left@xl uk-margin-large-bottom ">
            <h1>Welcome to the City</h1>
            <h2>Explore what Hope has to offer to help you <br>build a better life and establish a meaningful existence.</h2>
            <a class="uk-button uk-button-primary uk-button-large rounded" uk-toggle="target: #subscribe-modal" type="button">Subscribe for news</a>
        </div>
    </div>
    <div class="image-section {% if include.width != 'full' %}uk-container {% endif %}uk-margin-medium-bottom uk-padding-remove">
        <div class="uk-flex uk-flex-center">
            <img class="{% if include.width == 'full' %}uk-width-1-1{% endif %}" src="{% if include.image contains 'http' %}{{ include.image }}{% else %}{{ site.uploads | absolute_url }}{{ include.image }}{% endif %}" alt="{{ include.alt }}">
        </div>
    </div>
</div>


<div id="subscribe-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical rounded">
        <h2 class="uk-modal-title">Sign up for our News Letter</h2>
        {% for item in site.data.footer %}
        <p>{{ item.footer-text }}</p>
        {% endfor %}
        <iframe src="https://hopemindfulness.substack.com/embed" frameborder="0" scrolling="no"></iframe>
        <hr>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>