{% unless include.border_top -%}
<div class="uk-container uk-margin-medium-bottom">
  <hr class="uk-margin-remove">
</div>  
{%- endunless -%}

<div class="uk-container uk-container-xsmall uk-margin-medium-bottom">
  {%- if include.title -%}
    <h2 class="section-title uk-margin-bottom uk-text-center">{{- include.title -}}</h2>
  {%- endif -%}

  {% if include.text %}
    <p class="uk-text-lead uk-margin-medium-bottom uk-text-center">{{ include.text }}</p>
  {% endif%}
  <iframe id="substack-frame" src="https://hopemindfulness.substack.com/embed" frameborder="0" scrolling="no"></iframe>
</div>