<div class="widget">
  <div class="" >
    <div class="uk-margin uk-flex uk-flex-right">
      <a class="uk-logo" href="{{ "/" | relative_url }}">
          {% if site.logo_image.light %}
            <img class="footer-logo" src="{{ site.uploads | absolute_url }}{{ site.logo_image.light }}" alt="{{ site.title }}">
          {% else %}
          {{ site.title }}
          {% endif %}
      </a>
    </div>
    {% if site.social_networks %}
      <div class="uk-margin">
        <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center">
          {% include social-networks.html icon_ratio="2" %}
        </div>
      </div>
    {% endif %}
  </div>
  {% if include.content %}
    <div class="uk-margin">{{ include.content }}</div>
  {% endif %}
  {% if site.description %}
    <div class="uk-margin copyright">{{ site.description }}</div>
  {% endif %}


</div>
