---
layout: default
---

{% if page.author %}
{% assign author = site.authors | where: 'username', page.author | first %}
{% else %}
{% assign author = site.authors | where: 'default', true | first %}
{% endif %}

<div class="uk-container uk-container-xsmall uk-margin-medium-bottom uk-margin-large-top">
  {% if author.title %}
  <div class="uk-margin-large-bottom article-author" itemscope itemtype="http://schema.org/Person">
    <b>{{ site.strings.author_by | default: 'By' }} <span itemprop="name"><span itemprop="name"><a href="{{ author.url }}" title="{{ author.title }}">{{ author.title }}</a></span></span></b>
  </div>
  {% endif %}
  <div class="uk-text-lead uk-margin-medium-bottom">
    {% if page.embed == "" or page.embed == nil %}
    <h1>{{page.title}}</h1>
    {% else %}
    {% endif %}
    {% unless page.embed == "" or page.embed == nil %}
    {% if page.embed contains '“' or page.embed contains '”' %}
    {% assign embed = page.embed | replace: '“', '"' | replace: '”', '"' %}
    {% else %}
    {% assign embed = page.embed %}
    {% endif %}
    <div class="embed-container">
      {{ embed | raw }}
    </div>
    {% endunless %}
    <div class="col-md-8 mx-auto">
      <h5>Transcript:</h5>
      {{page.transcript}}
    </div>
    <br>

    <div class="share-side uk-position-absolute uk-visible@m" data-uk-scrollspy="cls: uk-animation-fade; target: .share; repeat: true">
      <div class="share" data-uk-sticky="offset: 150; bottom: .content-primary;">{% include share.html %}</div>
    </div>

    {{ content }}

    {% if page.share %}
    <div class="share uk-text-center uk-margin-medium">{% include share.html %}</div>
    {% endif %}
  </div>
</div>
{% if page.related %}
<div class="uk-container uk-container-small uk-margin-bottom">
  {% include related.html %}
</div>
{% endif %}

{% if site.disqus.shortname %}
<div class="uk-container uk-container-small">
  <hr class="uk-margin-remove-top uk-margin-medium-bottom">
</div>
<div class="uk-container uk-container-xsmall">
  {% include disqus-comments.html %}
</div>
{% endif %}

{% include section-mailchimp.html title="Newsletter Signup" text="Sign up for our weekly newsletter through Substack and stay up to date with what is happening in the city." button_text="Support Us" %}